
  @import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600&family=Noto+Sans+JP:wght@100..900&family=Zen+Kaku+Gothic+Antique&display=swap');
.App {
  text-align: center;
  
}


.slick-next{ right:0!important; }
.slick-prev{ left:0!important; }
.slick-arrow{ z-index:2!important; }
.top-logos{
  position:absolute;
  top:50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);
}
